<a href="https://colab.research.google.com/github/hargurjeet/MachineLearning/blob/master/getting_started_with_30_days_of_ml_competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the **[30 Days of ML competition](https://www.kaggle.com/c/30-days-of-ml/overview)**!  In this notebook, you'll learn how to make your first submission.

Before getting started, make your own editable copy of this notebook by clicking on the **Copy and Edit** button.

# Step 1: Import helpful libraries

We begin by importing the libraries we'll need.  Some of them will be familiar from the **[Intro to Machine Learning](https://www.kaggle.com/learn/intro-to-machine-learning)** course and the **[Intermediate Machine Learning](https://www.kaggle.com/learn/intermediate-machine-learning)** course.

In [1]:
# Familiar imports
import numpy as np
import pandas as pd

# For ordinal encoding categorical variables, splitting data
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

# For training random forest model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Step 2: Load the data

Next, we'll load the training and test data.  

We set `index_col=0` in the code cell below to use the `id` column to index the DataFrame.  (*If you're not sure how this works, try temporarily removing `index_col=0` and see how it changes the result.*)

In [6]:
# !pip install opendatasets --quiet
import opendatasets as od
od.download('https://www.kaggle.com/c/30-days-of-ml/data')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: hargurjeet
Your Kaggle Key: ··········
Downloading 30-days-of-ml.zip to ./30-days-of-ml

100%|██████████| 66.0M/66.0M [00:00<00:00, 132MB/s]

Extracting archive ./30-days-of-ml/30-days-of-ml.zip to ./30-days-of-ml

In [7]:
# Load the training data
train = pd.read_csv("/content/30-days-of-ml/train.csv", index_col=0)
test = pd.read_csv("/content/30-days-of-ml/test.csv", index_col=0)

# Preview the data
train.head()

   cat0 cat1 cat2 cat3 cat4  ...    cont10    cont11    cont12    cont13    target
id                           ...
1     B    B    B    C    B  ...  0.237281  0.377873  0.322401  0.869850  8.113634
2     B    B    A    A    B  ...  0.906013  0.921701  0.261975  0.465083  8.481233
3     A    A    A    C    B  ...  0.748809  0.620126  0.541474  0.763846  8.364351
4     B    B    A    C    B  ...  0.346010  0.714610  0.540150  0.280682  8.049253
6     A    A    A    C    B  ...  1.000773  0.776742  0.625849  0.250823  7.972260

[5 rows x 25 columns]

The next code cell separates the target (which we assign to `y`) from the training features (which we assign to `features`).

In [8]:
# Separate target from features
y = train['target']
X = train.drop(['target'], axis=1)

# Preview features
X.head()

   cat0 cat1 cat2 cat3 cat4  ...     cont9    cont10    cont11    cont12    cont13
id                           ...
1     B    B    B    C    B  ...  0.267559  0.237281  0.377873  0.322401  0.869850
2     B    B    A    A    B  ...  0.341439  0.906013  0.921701  0.261975  0.465083
3     A    A    A    C    B  ...  0.843531  0.748809  0.620126  0.541474  0.763846
4     B    B    A    C    B  ...  0.574844  0.346010  0.714610  0.540150  0.280682
6     A    A    A    C    B  ...  0.956692  1.000773  0.776742  0.625849  0.250823

[5 rows x 24 columns]

In [9]:
X.describe

<bound method NDFrame.describe of        cat0 cat1 cat2 cat3  ...    cont10    cont11    cont12    cont13
id                          ...
1         B    B    B    C  ...  0.237281  0.377873  0.322401  0.869850
2         B    B    A    A  ...  0.906013  0.921701  0.261975  0.465083
3         A    A    A    C  ...  0.748809  0.620126  0.541474  0.763846
4         B    B    A    C  ...  0.346010  0.714610  0.540150  0.280682
6         A    A    A    C  ...  1.000773  0.776742  0.625849  0.250823
...     ...  ...  ...  ...  ...       ...       ...       ...       ...
499993    B    B    A    A  ...  0.422541  1.063463  0.697685  0.506404
499996    A    B    A    C  ...  0.301015  0.268447  0.577055  0.823611
499997    B    B    A    C  ...  0.661007  0.629606  0.714139  0.245732
499998    A    B    A    C  ...  0.288768  0.611169  0.380254  0.332030
499999    A    A    A    C  ...  0.734707  0.484392  0.639754  0.689317

[300000 rows x 24 columns]>

In [10]:
low_cardinality_cols = [cname for cname in X.columns if X[cname].nunique() < 10 and X[cname].dtype == "object"]

low_cardinality_cols

['cat0', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8']

In [11]:
numeric_cols = [cname for cname in X.columns if X[cname].dtype in ['int64', 'float64']]
numeric_cols

['cont0',
 'cont1',
 'cont2',
 'cont3',
 'cont4',
 'cont5',
 'cont6',
 'cont7',
 'cont8',
 'cont9',
 'cont10',
 'cont11',
 'cont12',
 'cont13']

# Step 3: Prepare the data

Next, we'll need to handle the categorical columns (`cat0`, `cat1`, ... `cat9`).  

In the **[Categorical Variables lesson](https://www.kaggle.com/alexisbcook/categorical-variables)** in the Intermediate Machine Learning course, you learned several different ways to encode categorical variables in a dataset.  In this notebook, we'll use ordinal encoding and save our encoded features as new variables `X` and `X_test`.

In [12]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=42)

In [ ]:
# # List of categorical columns
# object_cols = [col for col in features.columns if 'cat' in col]

my_cols = low_cardinality_cols + numeric_cols
X_train = X_train[my_cols].copy()
X_valid = X_valid[my_cols].copy()
X_test = test[my_cols].copy()

# ordinal-encode categorical columns
# X = features.copy()
# X_test = test.copy()
# ordinal_encoder = OrdinalEncoder()
# X[low_cardinality_cols] = ordinal_encoder.fit_transform(features[low_cardinality_cols])
# X_test[low_cardinality_cols] = ordinal_encoder.transform(test[low_cardinality_cols])

# # # Preview the ordinal-encoded features
# X[low_cardinality_cols].head()

# One hot encoding
from sklearn.preprocessing import OneHotEncoder

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[low_cardinality_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[low_cardinality_cols]))


OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index

In [ ]:
OH_X_train = pd.concat([X_train[numeric_cols], OH_cols_train], axis=1)
OH_X_valid = pd.concat([X_valid[numeric_cols], OH_cols_valid], axis=1)

# Setting up Pipeline

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse=False))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numeric_cols),
        ('cat', categorical_transformer, low_cardinality_cols)
    ])

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# model = RandomForestRegressor(n_estimators=100, random_state=42)

from sklearn.metrics import mean_squared_error

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', RandomForestRegressor(n_estimators=100, random_state=42))
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(X_valid)

# Evaluate the model
score = mean_squared_error(y_valid, preds)
print('RMSE:', score)

# Implementing cross validation

In [ ]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline, X, y,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("MSE scores:\n", scores)

MAE scores:
 [0.58080752 0.58550842 0.58309155 0.58412122 0.58423731]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Function for comparing different approaches
# def score_dataset(X_train, X_valid, y_train, y_valid):
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(OH_X_train, y_train)
preds = model.predict(OH_X_valid)

# #     return mean_squared_error(y_valid, preds, squared=False)

# print("Mean Square Error (One-Hot Encoding):") 
print(mean_squared_error(y_valid, preds, squared=False))

0.7337823426387232

# Step 4: Train a model

Now that the data is prepared, the next step is to train a model.  

If you took the **[Intro to Machine Learning](https://www.kaggle.com/learn/intro-to-machine-learning)** courses, then you learned about **[Random Forests](https://www.kaggle.com/dansbecker/random-forests)**.  In the code cell below, we fit a random forest model to the data.

In the code cell above, we set `squared=False` to get the root mean squared error (RMSE) on the validation data.

# Step 5: Submit to the competition

We'll begin by using the trained model to generate predictions, which we'll save to a CSV file.

In [ ]:
OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test[low_cardinality_cols]))
OH_cols_test.index = X_test.index
OH_test = pd.concat([X_test[numeric_cols], OH_cols_test], axis=1)

# Use the model to generate predictions
predictions = model.predict(OH_test)

# Save the predictions to a CSV file
output = pd.DataFrame({'Id': X_test.index,
                       'target': predictions})
output.to_csv('submission.csv', index=False)

Once you have run the code cell above, follow the instructions below to submit to the competition:
1. Begin by clicking on the **Save Version** button in the top right corner of the window.  This will generate a pop-up window.  
2. Ensure that the **Save and Run All** option is selected, and then click on the **Save** button.
3. This generates a window in the bottom left corner of the notebook.  After it has finished running, click on the number to the right of the **Save Version** button.  This pulls up a list of versions on the right of the screen.  Click on the ellipsis **(...)** to the right of the most recent version, and select **Open in Viewer**.  This brings you into view mode of the same page. You will need to scroll down to get back to these instructions.
4. Click on the **Output** tab on the right of the screen.  Then, click on the file you would like to submit, and click on the **Submit** button to submit your results to the leaderboard.

You have now successfully submitted to the competition!

If you want to keep working to improve your performance, select the **Edit** button in the top right of the screen. Then you can change your code and repeat the process. There's a lot of room to improve, and you will climb up the leaderboard as you work.

# Step 6: Keep Learning!

If you're not sure what to do next, you can begin by trying out more model types!
1. If you took the **[Intermediate Machine Learning](https://www.kaggle.com/learn/intermediate-machine-learning)** course, then you learned about **[XGBoost](https://www.kaggle.com/alexisbcook/xgboost)**.  Try training a model with XGBoost, to improve over the performance you got here.

2. Take the time to learn about **Light GBM (LGBM)**, which is similar to XGBoost, since they both use gradient boosting to iteratively add decision trees to an ensemble.  In case you're not sure how to get started, **[here's a notebook](https://www.kaggle.com/svyatoslavsokolov/tps-feb-2021-lgbm-simple-version)** that trains a model on a similar dataset.