<a href="https://colab.research.google.com/github/hargurjeet/MachineLearning/blob/master/ML_using_Kfolds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing dataset from Kaggle

In [ ]:
!pip install opendatasets --upgrade --quiet

In [10]:
import numpy as np
import pandas as pd
import opendatasets as od
from sklearn import model_selection

In [4]:
od.download('https://www.kaggle.com/c/30-days-of-ml/data')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: hargurjeet
Your Kaggle Key: ··········
Downloading 30-days-of-ml.zip to ./30-days-of-ml

100%|██████████| 66.0M/66.0M [00:00<00:00, 127MB/s]

Extracting archive ./30-days-of-ml/30-days-of-ml.zip to ./30-days-of-ml

# Splitting the data to kfold

In [45]:
df_train = pd.read_csv("/content/30-days-of-ml/train.csv")

In [46]:
df_train["kfold"] = -1

In [47]:
kf = model_selection.KFold(n_splits=5, shuffle=True, random_state=42)
for fold, (train_indicies, valid_indicies) in enumerate(kf.split(X=df_train)):
    df_train.loc[valid_indicies, "kfold"] = fold

In [52]:
df_train.sample(5)

            id cat0 cat1 cat2  ...    cont12    cont13    target kfold
180612  301182    B    B    A  ...  0.219408  0.494149  7.125354     0
152515  254225    A    A    A  ...  0.605068  0.458564  8.787194     4
239451  399317    A    B    A  ...  0.840787  0.442029  8.840280     2
198798  331500    A    A    B  ...  0.402870  0.796672  7.886309     4
174752  291379    A    A    A  ...  0.167316  0.231910  6.968845     2

[5 rows x 27 columns]

In [53]:
df_train.kfold.value_counts()

4    60000
3    60000
2    60000
1    60000
0    60000
Name: kfold, dtype: int64

In [48]:
df_train.to_csv("train_folds.csv", index=False)