<a href="https://colab.research.google.com/github/hargurjeet/MachineLearning/blob/master/Nifty_50_Time_Series_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

High level steps to approach the problem statement

<br> Import the dataset
<br>  Visualize the Time Series Data
<br>  Make the time series data stationary
<br>  Plot the Correlation and AutoCorrelation Charts
<br> Construct the ARIMA Model or Seasonal ARIMA based on the data
<br> Use the model to make predictions

In [4]:
!pip install opendatasets

Collecting opendatasets
  Using cached opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [6]:
# Importing the dataset
import opendatasets as od
import pandas as pd

kaggle_url = 'https://www.kaggle.com/rohanrao/nifty50-stock-market-data?select=TITAN.csv'
od.download(kaggle_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: hargurjeet
Your Kaggle Key: ··········
Downloading nifty50-stock-market-data.zip to ./nifty50-stock-market-data

100%|██████████| 18.4M/18.4M [00:01<00:00, 13.0MB/s]

In [9]:
file_path = '/content/nifty50-stock-market-data/TITAN.csv'
df = pd.read_csv('/content/nifty50-stock-market-data/TITAN.csv')

df.head()

         Date Symbol Series  ...  Trades  Deliverable Volume  %Deliverble
0  2000-01-03  TITAN     EQ  ...     NaN                 NaN          NaN
1  2000-01-04  TITAN     EQ  ...     NaN                 NaN          NaN
2  2000-01-05  TITAN     EQ  ...     NaN                 NaN          NaN
3  2000-01-06  TITAN     EQ  ...     NaN                 NaN          NaN
4  2000-01-07  TITAN     EQ  ...     NaN                 NaN          NaN

[5 rows x 15 columns]