<a href="https://colab.research.google.com/github/hargurjeet/MachineLearning/blob/master/Predictive_Maintaince_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dataset

In [1]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [3]:
# To Imporing dataset from kaggle
import opendatasets as od

# For data preprocessing
import pandas as pd
import numpy as np

# To build visualizations
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import plotly.express as px
import plotly.graph_objects as go
import scipy.stats
import pylab

# To build ML models
from fbprophet import Prophet
from matplotlib import pyplot as plt
import pandas.util.testing as tm

from sklearn.metrics import mean_absolute_error, mean_squared_error
import lightgbm as lgb

In [5]:
# using pandas library to import the dataset
# Setting the data columns to index and for the convience to perfrom data analysis
od.download('https://www.kaggle.com/shivamb/machine-predictive-maintenance-classification')
df = pd.read_csv("/content/machine-predictive-maintenance-classification/predictive_maintenance.csv")
df.head()

Skipping, found downloaded files in "./machine-predictive-maintenance-classification" (use force=True to force download)

   UDI Product ID Type  ...  Tool wear [min]  Target  Failure Type
0    1     M14860    M  ...                0       0    No Failure
1    2     L47181    L  ...                3       0    No Failure
2    3     L47182    L  ...                5       0    No Failure
3    4     L47183    L  ...                7       0    No Failure
4    5     L47184    L  ...                9       0    No Failure

[5 rows x 10 columns]

In [7]:
## understanding the importance of both the features

print(df.Target.value_counts(), df['Failure Type'].value_counts())

0    9661
1     339
Name: Target, dtype: int64 No Failure                  9652
Heat Dissipation Failure     112
Power Failure                 95
Overstrain Failure            78
Tool Wear Failure             45
Random Failures               18
Name: Failure Type, dtype: int64

definately both the features are different

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      10000 non-null  int64
 1   Product ID               10000 non-null  object
 2   Type                     10000 non-null  object
 3   Air temperature [K]      10000 non-null  float64
 4   Process temperature [K]  10000 non-null  float64
 5   Rotational speed [rpm]   10000 non-null  int64
 6   Torque [Nm]              10000 non-null  float64
 7   Tool wear [min]          10000 non-null  int64
 8   Target                   10000 non-null  int64
 9   Failure Type             10000 non-null  object
dtypes: float64(3), int64(4), object(3)
memory usage: 781.4+ KB

In [9]:
df.isnull().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

In [11]:
df.describe().T

                           count        mean  ...      75%      max
UDI                      10000.0  5000.50000  ...  7500.25  10000.0
Air temperature [K]      10000.0   300.00493  ...   301.50    304.5
Process temperature [K]  10000.0   310.00556  ...   311.10    313.8
Rotational speed [rpm]   10000.0  1538.77610  ...  1612.00   2886.0
Torque [Nm]              10000.0    39.98691  ...    46.80     76.6
Tool wear [min]          10000.0   107.95100  ...   162.00    253.0
Target                   10000.0     0.03390  ...     0.00      1.0

[7 rows x 8 columns]

In [12]:
df_relevant_features = df.drop('UDI', axis=1)
df_relevant_features.head()

  Product ID Type  Air temperature [K]  ...  Tool wear [min]  Target  Failure Type
0     M14860    M                298.1  ...                0       0    No Failure
1     L47181    L                298.2  ...                3       0    No Failure
2     L47182    L                298.1  ...                5       0    No Failure
3     L47183    L                298.2  ...                7       0    No Failure
4     L47184    L                298.2  ...                9       0    No Failure

[5 rows x 9 columns]

EDA - Indiviual features